
body{
    overflow:hidden;
    background-image: url("./Assets/bamboo-1.jpg");
    background-repeat: no-repeat;
    background-position:absolute;
    background-size: 100vw;
    cursor: url('./Assets/brush-01.png'), auto;
}

.canvas{
    position:absolute;
    top:30px;
    bottom:0px;
    left:100px;
    right:0px
}

#canvas-real{
    background-color: #ffffff;
}

#canvas-draft{
    background-color: transparent;
}

.paint-tools{
    position:absolute;
    top:900px;
    bottom:0px;
    left:200px;
    right:0px;
    width: 50vw;
}

.paint-othertools{
    position:absolute;
    top:980px;
    bottom:0px;
    left:670px;
    right:0px;
    width: 40vw;

}

.btn{

    font-size: 20px;
    width: 8vw;
    margin-right: 10px;
}


.btnShadow{

    box-shadow:1px 1px 3px grey;
}

#stamp{

    position:absolute;
    top: 630px;
    left: 1370px;

}

#btnStamp img:active{
    background-color:#000000;
}


.animals-icon{
    background-color: #ffffff;
    width: 8vw;
    border: 3px dotted #2b2b2b;
    padding-left: 15px;
}

.animals-icon img{

    margin: 5px;


}

/*color for stroke*/

#stroke{

  position: absolute;
  left: 493px;
  top: 970px;
}

#strokecolor-input {
    display: none;
  }

#strokecolor-label {
    margin-left: 15px;
    position: absolute;
    left: 480px;
    top: 1000px;
    height: 30px;
    width: 50px;
    border: 2px solid #000000;
  } 

#strokecolor-input:checked ~ #strokecolor-picker {
    opacity: 1;
  }

#strokecolor-picker {
    position: absolute;
    left: 280px; 
    top: 1000px;
    background-color: white;
    height: 165px;
    width: 199px;
    border: solid 1px #ccc;
    opacity: 0;
    padding: 5px;
  }

/*color for fill*/

#fill{

  position: absolute;
  left: 550px;
  top: 1003px;

}

#fillcolor-input {
  display: none;
}

#fillcolor-label {
  margin-left: 15px;
  position: absolute;
  left: 530px;
  top: 1030px;
  height: 30px;
  width: 50px;
  border: 2px solid #000000;
} 

#fillcolor-input:checked ~ #fillcolor-picker {
  opacity: 1;
}

#fillcolor-picker {
  position: absolute;
  left: 610px; 
  top: 1030px;
  background-color: white;
  height: 165px;
  width: 199px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
}

  #btnText{
    position: absolute;
    left: 1370px; 
    top: 700px;

  }

  #textbox{

    position: absolute;
    left: 1371px; 
    top: 760px;
  }

  #textbox span{

    margin: 10px;
    width: 3vw;
    position: relative;
    left: 100px
  }

  .active{

    background-color: #a5cab0;
  }